.book-nav {
  display: inline-flex !important;
}

.search-results-heading {
  display: inline-flex !important;
  float: right !important;
  margin-top: 0;
}

.book-card {
  > a {
    //@apply overflow-visible;

    img {
      @apply w-auto min-w-[217px] min-h-[217px] object-cover;
    }
  }

  &-content {
    height: calc( 100% - 220px );
    @apply w-full min-h-[200px] flex-row flex-wrap py-[1rem] gap-y-0;

    .content {
      @apply text-[14px] font-[400];
    }

    > * {
      @apply w-full;
    }

    .price-buy-section {
      @apply items-center self-end;

      a,
      .added {
        @apply h-[2rem] py-[5px] px-[10px] w-[4rem] rounded-[0.25rem] font-[600] text-white text-center text-[14px];
        background-color: rgb(203 87 21);
      }

      button,
      a {
        &.added_to_cart {
          display: none;
        }
      }
    }
  }
}
