.account {
  @apply bg-gray600;
  &-nav {
    @apply flex pr-7 text-gray300 text-xs mb-6 mt-8;

    .active {
      @apply text-orange800;
    }
    li.seperator {
      @apply mx-1 sm:mx-1.5 md:mx-4;
    }
  }
  &-main {
    @include site-margin;
  }
  &-header {
    @apply text-xl sm:text-4xl my-9;
  }
  &-menu {
    @apply flex xl:hidden gap-3 absolute right-0 items-center;
    top: -63px;
    height: 25px;
    .close {
      display: none;
    }
  }
  &-container {
    @apply flex flex-col xl:flex-row gap-x-16;
    margin-bottom: 6.25rem;
  }
  &-links {
    @apply gap-4 relative;
    min-width: 15.625rem;
    &-wrapper {
      @apply hidden xl:block mb-12 xl:mb-0;
    }
  }
  &-link {
    @apply flex whitespace-nowrap items-center text-sm gap-3.5 bg-white py-4 px-5 xl:w-full rounded-md mt-2 hover:text-orange800;
    // span {
    //   @apply hidden xl:block;
    // }
  }
  .account-container .active {
    @apply border-orange;
    border-left-width: 3px;
  }
  &-content {
    @apply bg-white py-10  sm:px-6  w-full border border-gray500 rounded-lg;
    &-title {
      @apply text-lg font-medium px-4 sm:px-0;
    }
    &-wrapper {
      @apply mt-5 py-3 mb-10;
    }
    .wishlist-item {
      @apply mt-10 border-b transition-all;
      &:last-child {
        @apply border-b-0;
      }
    }
    &-item {
      @apply px-4 sm:px-0 flex flex-col lg:flex-row lg:gap-9 w-full border-b border-gray400 mt-4 pb-5;
      min-height: 240px;
      img {
        @apply object-cover rounded-t-md lg:rounded-md;
        min-height: 100%;
        width: 100%;
        height: 297px;
        @include respond(lg) {
          width: 204px;
          height: auto;
        }
      }
      &-detail {
        @apply w-full flex flex-col pb-2 lg:py-2 justify-between self-center;
      }
      .order {
        &-details {
          @apply flex flex-row gap-4 justify-between font-medium bg-gray600 text-xs sm:text-sm px-3.5 py-2;
        }
        &-title {
          @apply flex flex-col sm:flex-row text-left  gap-3 sm:gap-4 mb-4 lg:mb-2 lg:mt-2 sm:mb-4 mt-5 px-3.5 justify-between font-medium text-2xl;
          @apply hover:text-orange800;
        }
        &-amount {
          @apply text-lg font-semibold;
        }
        &-text {
          @apply font-medium px-3.5 text-sm mb-1;
        }
        &-links {
          @apply flex justify-between;
        }
        &-rate {
          @apply bg-light200 text-sm px-4 py-2 rounded-md font-semibold mt-3;
        }
        &-link {
          @apply ml-3.5 mt-3 h-10 flex gap-2 justify-center rounded-md text-white font-medium text-sm items-center bg-orange hover:bg-opacity-80;
          @include respond(sm) {
            width: 140px;
          }
        }
      }
      .wishlist-title {
        @apply mt-4 lg:mt-0 mb-2 sm:mb-1;
      }
      .wishlist-links {
        @apply px-3.5;
      }
    }
  }
  .wishlist-wrapper {
    @apply border-b-0 mb-0;
  }
}
.wishlist-desc {
  @apply px-3.5 text-gray800 lg:text-black300 sm:text-left text-sm my-2;
  max-width: 30rem;
}
.wishlist-links {
  @apply flex transition-all flex-col-reverse sm:flex-row justify-between items-center;
  .order-link {
    @apply w-full ml-0;
    @include respond(sm) {
      width: 140px;
    }
  }
}
.wishlist-remove {
  @apply flex items-center px-3.5 md:px-0 gap-2.5 mt-3 font-medium text-sm text-orange800;
}
.wishlist-number {
  @apply text-sm px-4 sm:px-0 font-medium mt-3.5;
}
.wishlist-empty {
  @apply mx-auto text-center my-52 items-center justify-center flex flex-col;
  > p {
    @apply text-gray400 mt-8 mb-5;
  }
  > a {
    @apply text-orange800;
  }
}
.rate {
  &-modal {
    @apply hidden fixed h-screen w-screen left-0 top-0 flex items-center justify-center;
    background: rgba(0, 0, 0, 0.5);
  }
  &-container {
    @apply bg-white z-50 p-10 text-center max-w-xs sm:max-w-sm;
    h3 {
      @apply font-bold text-2xl my-6;
    }
  }
  &-stars {
    @apply flex gap-2 justify-center my-6;
    svg {
      @apply cursor-pointer;
      path {
        @apply fill-white;
      }
    }
    .star-fill {
      path {
        @apply fill-orange;
      }
    }
  }

  &-cancel {
    @apply bg-gray500 px-4 py-1.5 rounded-md mr-4 inline-block;
  }
  &-submit {
    @apply bg-orange px-4 py-1.5 rounded-md inline-block text-white;
  }
}
