.password {
  &-container {
    @apply w-full pt-10 px-4 sm:px-14 border border-gray500 bg-white rounded-lg;
  }
  &-title {
    @apply text-lg pb-5 border-b border-gray400 font-medium;
  }
  &-text {
    @apply mt-8 mb-14 text-sm;
  }
  &-input {
    @apply block text-sm placeholder:text-black300 h-16 w-full px-4 sm:px-8 mb-5 border border-gray500 outline-none focus:border-black300;
    background-color: #fbfbfb;
    max-width: 26.875rem;
  }
  &-validation {
    @apply pt-2 mb-14;
  }
  &-button {
    @apply bg-orange text-lg text-white font-semibold rounded mt-12 mb-40 lg:mb-60 hover:bg-opacity-80;
    height: 60px;
    width: 180px;
  }
}
.date-select-wrapper {
  @apply flex gap-3 flex-wrap;
}
.date-select {
  @apply relative;
  select {
    @apply border border-gray500 outline-none focus:border-black300 pl-4 pr-4 pl-8 pr-10;
    background-color: #fbfbfb;
    height: 60px;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }
  svg {
    @apply absolute top-1/2 transform -translate-y-1/2 right-4 sm:right-6;
  }
}
.date {
  @apply mt-14 mb-8;
}
