.search {
  @apply bg-gray600;
  &-main {
    @apply mt-9;
    @include site-margin;
  }
  &-nav {
    @apply flex pr-7 text-gray300 text-xs mb-6;

    .active {
      @apply text-orange800;
    }
    li.seperator {
      @apply mx-1 sm:mx-1.5 md:mx-4;
    }
  }
  &-input {
    @apply relative;
    input {
      @apply w-full h-16 rounded-lg pl-6 lg:pl-20 pr-10 text-sm border border-gray500;
    }
    svg {
      @apply absolute right-3 lg:left-7 top-1/2 transform -translate-y-1/2 cursor-pointer;
    }
  }
  &-wrapper {
    @apply lg:flex mt-8 mb-12;
  }
  &-filter {
    @apply hidden lg:block fixed h-full lg:h-auto overflow-scroll lg:overflow-hidden lg:relative top-0 left-0 z-10;
    width: 95%;
    @include respond(lg) {
      min-width: 14.25rem;
      max-width: 14.25rem;
    }
    &-heading {
      @apply hidden lg:block font-semibold text-lg;
      min-width: 14.25rem;
    }
    &-box {
      @apply bg-white border border-gray500 lg:rounded-lg p-8;
      & label {
        @apply inline-flex relative ml-4 mb-2 text-sm;
        max-width: 128px;
        svg {
          display: inline;
        }
        .checkbox {
          @apply absolute top-0 -left-8 transform block border rounded border-black100;
          height: 18px;
          width: 18px;
        }
        .checkbox-tick {
          @apply hidden absolute top-0 transform left-1 rotate-45;
          height: 12px;
          width: 8px;
          // left: -27px;
          border: solid white;
          border-width: 0 2px 2px 0;
        }
      }
      & input {
        @apply mb-2;
        opacity: 0;
        &:checked ~ label {
          @apply text-orange;
          .checkbox {
            @apply bg-orange border-orange;
          }
          .checkbox-tick {
            @apply block;
          }
        }
      }
      .see-all {
        @apply flex items-center text-orange mt-10;
        svg {
          @apply ml-3;
        }
      }
    }
    &-title {
      @apply text-lg font-semibold mb-7;
    }
    &-wrap {
      @apply mb-12;
    }
  }
  &-results {
    @apply w-full lg:ml-8;
    &-number {
      @apply hidden lg:block text-sm md:text-base;
    }

    &-heading {
      @apply flex  items-center mt-10;
      .mobile {
        @apply block lg:hidden;
      }
    }
    &-wrapper {
      @apply book-card-wrapper bg-white p-10 grid sm:grid-cols-3 gap-6 border border-gray500 rounded-lg mb-7;
    }
    &-sort {
      @apply relative hidden ml-auto lg:block;
      select {
        @apply py-3 pl-8 pr-20 rounded-lg text-sm font-medium;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
      }
      svg {
        @apply absolute top-1/2 transform -translate-y-1/2  right-9;
      }
    }
  }
}
.mobile-filter {
  @apply lg:hidden flex items-center justify-center ml-auto border border-gray500 text-sm;
  width: 103px;
  height: 33px;
  border-radius: 20px;
  svg {
    @apply ml-4;
  }
  &-heading {
    @apply flex justify-between items-center text-2xl font-semibold;
    margin-bottom: 60px;
    @include respond(lg) {
      display: none;
    }
  }
  &-search {
    @apply bg-orange rounded-lg w-full text-white font-semibold text-lg;
    height: 60px;
    @include respond(lg) {
      display: none;
    }
  }
}

.epmty-search {
  @apply mx-auto w-fit text-center sm:text-2xl mt-32 mb-96;
  svg {
    @apply mx-auto mb-5;
  }
}
