@layer components {
  .address-wrapper {
    @apply flex flex-col w-full gap-y-5;
    .shopping-bag .header {
      .title {
        @apply max-w-xs;
      }
      a {
        @apply font-semibold  text-orange800 text-base;
      }
    }
  }
  .billing {
    @apply px-5 md:px-12 py-3.5 lg:pt-8 pb-12 lg:pb-20 bg-light100 border-gray500 border rounded-lg;
    .title {
      @apply text-lg pb-8;
    }
    hr {
      @apply mb-14 border-gray400;
    }
    .card {
      @apply flex flex-col;
      .header {
        @apply flex justify-between flex-row pb-5;
        h1,
        h2 {
          @apply font-semibold text-black100;
        }
        a {
          @apply hidden lg:block;
        }
      }
      a {
        @apply font-semibold  text-orange800 text-base;
      }
      > a {
        @apply block lg:hidden;
      }
    }
    .address-card {
      width: 100%;
      @include respond(md) {
        width: 416px;
      }
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      @apply py-8 md:px-10 md:bg-light200;
      p:first-child {
        @apply capitalize text-lg text-black100 mb-4;
      }
      p:last-child {
        @apply text-sm;
      }
    }
    .address-form {
      @apply gap-y-3 flex flex-col;
      textarea,
      input {
        @include respond(lg) {
          width: 469px;
        }
        @apply w-auto rounded-lg border  border-gray500 bg-gray200 text-sm text-gray800 pl-10 flex pr-5 capitalize placeholder:capitalize;
      }
      input {
        @apply h-14;
      }
      textarea {
        @apply pt-5;
      }
      button {
        @apply w-64 items-center rounded-lg justify-center flex text-light100 bg-green h-14;
      }
    }
  }

  .voucher {
    @apply bg-light100 flex flex-col px-8 py-10 h-fit border rounded-none lg:rounded-lg border-gray500;
    &-button {
      @apply w-full rounded-lg font-semibold mt-2 h-16 bg-gray300 text-light100 items-center justify-center text-base;
    }
    &-section {
      @apply flex flex-col lg:gap-y-5 gap-y-0;
      input {
        @apply w-full h-12  border border-gray500 text-sm text-gray800 pl-2.5;
      }
      .checkout {
        @apply bg-light100 flex flex-col px-8 py-10 text-sm rounded-none rounded-bl-lg rounded-br-lg lg:rounded-lg;
        &-head {
          @apply mb-10;
        }
        .sub-total {
          max-width: 400px;
          @apply flex justify-between my-5 text-sm text-black300;
          > span:last-child {
            @apply font-bold;
          }
        }
        .card-title {
          @apply text-black100 mb-5 font-semibold;
        }
        .inputs {
          @apply flex gap-x-5 mt-3;
        }
        button.pay-now {
          @apply w-full mb-6 bg-orange800 text-base font-semibold text-light100  h-14 rounded-lg flex items-center justify-center mt-4;
        }
        img {
          @apply w-fit mt-2.5;
        }
      }
    }
    &-head {
      @apply text-lg mb-10 text-black100 font-semibold;
    }
    &-head + p {
      @apply text-sm mb-8 text-black300;
    }
  }
}
