@layer components {
  .sign-up,
  .reset-password,
  .sign-in {
    @apply flex items-center justify-center pt-16 lg:pt-36 ml-6 mr-6 md:mx-10 lg:mx-0 flex-col bg-white pb-40 lg:pb-96;
    > * {
      @apply w-full;
    }
    @include respond(md) {
      > * {
        width: 468px;
      }
    }

    header {
      @apply mb-8 text-center;
      a img {
        @apply mx-auto mb-12 flex;
      }
      h2 {
        @apply font-semibold mb-3 text-lg text-black100 max-w-[30ch] mx-auto;
      }
      p {
        @apply text-sm lg:text-base text-gray800 max-w-[42ch] mx-auto;
      }
    }
    form {
      @apply flex flex-col gap-y-5 mb-9;
      .split > div,
      input:not([type='radio']),
      input:not([type='checkbox']) {
        @apply h-14 border border-gray500 bg-gray200 text-sm text-gray800 pl-10 flex pr-5;
      }
      input::placeholder {
        @apply capitalize;
      }
      .split {
        @apply flex justify-between flex-col lg:flex-row gap-y-5;
        input {
          @apply h-6 w-6;
        }
        div {
          @apply lg:w-48 w-full flex justify-between content-center items-center;
        }
      }
      .forgot-password {
        @apply text-sm text-gray800;
        &-wrapper {
          @apply flex justify-between text-sm mb-9 items-end lg:items-start;
        }
      }
      .update {
        @apply flex gap-x-2 text-gray800 items-center -mt-4 text-sm;

        input:not([type='radio']) {
          @apply h-fit mt-1 mb-auto;
        }
      }
      .consent {
        @apply mt-6 lg:mt-4 mb-7 text-center text-gray800 text-sm;
        a {
          @apply text-orange800;
        }
      }
      button[type='submit'] {
        @apply w-full items-center rounded-lg justify-center flex text-light100 bg-orange800 h-14;
      }
    }
    .link-sign-up,
    .link-sign-in {
      @apply text-sm text-center;
      a {
        @apply text-orange800;
      }
    }
  }

  .sign-up form .update {
    @apply items-start mt-0;
  }
  .label-invisible {
    @apply invisible  h-0;
  }
  .reset-password {
    h2 {
      @apply text-3xl mb-8 font-semibold;
    }
    p {
      @apply text-base;
    }
    button[type='submit'] {
      @apply mt-6;
    }
    .password-wrapper {
      @apply relative flex;
      input {
        border-radius: 10px;
        @apply w-full;
      }
      button {
        @apply flex items-center justify-center
        absolute right-4 lg:right-16 top-4;
      }
    }
  }
}
