.category {
  &-text {
    @apply flex font-semibold justify-between items-center mt-28 md:mt-40 mb-5;
    // padding-right: 1.75rem;
    // @include respond(sm) {
    //   padding-right: 3.75rem;
    // }
    // @include respond(1300px) {
    //   padding-right: 8.75rem;
    // }
    p {
      @apply text-2xl md:text-3xl;
      @include respond(md) {
        font-size: 28px;
      }
    }
    a {
      @apply flex items-center gap-2 hover:text-orange whitespace-nowrap;
      &:hover {
        svg {
          path {
            @apply fill-orange;
          }
        }
      }
    }
  }
  &-container {
    @apply overflow-scroll sm:overflow-visible flex relative w-full;
    .arrows {
      @apply absolute hidden sm:flex top-1/2 -right-6 -translate-y-1/2;
      z-index: 99;
      div {
        @apply w-6 h-12 bg-white flex justify-center items-center cursor-pointer;
      }
      .left-arrow {
        opacity: 0.5;
      }
    }
    &-after::after {
      content: '';
      width: 100%;
      background: rgba(17, 17, 17, 0.75);
      right: -100%;
      position: absolute;
      height: calc(100% + 4px);
      top: -4px;
      z-index: 7;
      @apply hidden sm:block;
    }
    &-before::before {
      content: '';
      width: 100%;
      background: rgba(17, 17, 17, 0.75);
      left: -100%;
      position: absolute;
      height: calc(100% + 4px);
      top: -4px;
      z-index: 7;
    }
  }
  &-wrapper {
    @apply w-full flex justify-between transition-all duration-500 relative;
    &-item {
      min-width: 265px;
      margin-right: 24px;
      @apply w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6;
      // min-width: calc(96% / 2);
      @include respond(sm) {
        min-width: calc(94% / 3);
        margin-right: calc(6% / 3);
      }
      // @include respond(lg) {
      //   min-width: calc(94% / 4);
      //   margin-right: 4%;
      // }
      @include respond(lg) {
        min-width: 23.5%;
        margin-right: calc(6% / 3);
      }
    }
  }
}
