footer {
  @apply bg-black100;
  > div {
    padding-block: 6.125rem 0;
    @include respond(md) {
      padding-block: 6.125rem 0;
    }
    @include respond(1300px) {
      padding-block: 6.125rem 0;
    }

    @apply px-5 md:px-8 lg:px-16;
    max-width: 1440px;
    @apply mx-auto;
  }
}
.footer {
  @apply grid gap-20 md:gap-0 md:grid-cols-2 lg:grid-cols-4 justify-items-center text-center md:text-left md:justify-items-start;
  color: white;
  &-heading {
    @apply text-2xl font-light mb-8;
  }
  &-subtitle {
    @apply text-xs mt-8 block;
    color: rgba(255, 255, 255, 0.5);
  }
  .address-wrapper {
    @apply font-light;
    max-width: 11.625rem;
  }
  &-links {
    a {
      @apply block text-sm mb-4 text-light100;
    }
  }
  &-update {
    @apply font-light;
  }
  &-payment-link {
    @include respond(md) {
      margin-top: 5.125rem;
    }
  }
  &-socials {
    &-box {
      @apply flex items-center gap-6 mb-5;
    }
  }
  &-form {
    @apply mt-12;
    input {
      @apply w-full h-12 px-9 text-black100 text-sm placeholder:text-black100;
    }
    button {
      @apply h-12 bg-orange font-light mt-6 hover:bg-opacity-80;
      width: 9.8125rem;
    }
  }
  &-footnote {
    @apply flex flex-col text-center md:text-left md:flex-row justify-between text-light100 pt-5 pb-7;
    font-size: 0.6875rem;
    margin-top: 5.25rem;
    max-width: 1440px;
    @apply mx-auto;
    span {
      @apply block md:inline;
    }
    &-link {
      @apply px-4 underline text-center;
    }
    P {
      @apply mt-8 md:mt-0 underline md:inline;
    }
  }
}
