.nav {
  &-top {
    @apply flex justify-end;
    padding: 0.5rem 1.125rem;
    max-width: 1440px;
    @apply mx-auto;
    @include respond(xl) {
      padding: 0.5rem 8.75rem;
    }
    @include respond(md) {
      padding: 0.625rem 3.75rem;
    }
    &-link {
      @apply text-sm font-medium ml-9;
    }
  }
  &-main {
    @apply flex justify-between items-center;
    padding: 1.125rem 1.5625rem;
    max-width: 1440px;
    @apply mx-auto;
    @include respond(xl) {
      padding: 1.125rem 8.75rem;
    }
    @include respond(md) {
      padding: 1.125rem 3.75rem;
    }
    &-wrapper {
      @apply bg-black100;
    }
    &-logo {
      @apply hidden md:block h-auto;
      max-width: 13.5rem;
      &-mobile {
        @apply h-auto md:hidden;
        max-width: 2.375rem;
      }
    }
    &-links {
      @apply flex;
    }
    .nav-search {
      @apply relative;
      @include respond(md) {
        min-width: 14.125rem;
        margin-right: 5.75rem;
      }

      input {
        @apply hidden md:block bg-black100 w-full pr-5 pb-3 text-white text-sm placeholder:text-white;
        border-bottom: 1px solid #4f4f4f;
        &:focus {
          outline: none;
          border-bottom: 1px solid #fff;
        }
      }
      svg {
        @apply absolute top-0 right-0;
      }
    }
  }
  &-icons {
    @apply ml-7;
  }
}
