@layer components {
  book-card {
    @apply flex;
    min-width: 217px;
    max-width: 289px;
  }
  .book-card {
    min-width: 217px;
    max-width: 289px;
    @apply w-full;
    &-image {
      @apply bg-gray300 aspect-square lg:w-full h-auto object-cover transition-all;
    }
    &-content {
      @apply md:px-4 py-5 flex flex-col gap-y-5;
      .title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @apply font-medium text-lg leading-5 h-[4ch] hover:text-orange cursor-pointer;
      }
      .content {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @apply text-sm text-black300;
      }
      .price-buy-section {
        @apply flex justify-between text-lg align-middle;
        .price {
          @apply font-medium;
        }
        button {
          @apply h-8 w-16 bg-orange800 rounded text-light100 font-medium transition-all hover:bg-opacity-80;
        }
      }
    }
    &-wrapper {
      column-gap: max(calc(6% / 3), 24px);
      @apply w-full flex gap-y-8 flex-wrap transition-all duration-500 relative;
      @include respond(sm) {
        column-gap: max(calc(6% / 3), 17px);
      }
      > * {
        min-width: 217px;
        column-gap: 24px;
        max-width: 280px;
        @apply w-1/4 md:w-1/4 lg:w-1/5 xl:w-1/6;
        @include respond(sm) {
          min-width: min(calc(94% / 3), 280px);
          column-gap: calc(6% / 3);
        }
        @include respond(lg) {
          min-width: min(21.5%, 280px);
        }
        @include respond(xl) {
          min-width: min(23%, 289px);
        }
      }
    }
    > a {
      @apply flex overflow-hidden;
    }
    > a:hover {
      .book-card-image {
        @apply scale-110;
      }
    }
    &:hover {
      @apply cursor-default;
    }
  }
}
