@layer components {
  .download-now {
    background-image: url('/assets/download_now_sm_sample.png');
    @include respond(md) {
      background-image: url('/assets/download_now_sample.png');
    }
    @apply lg:h-80 pb-32 bg-no-repeat bg-cover py-20 gap-16 rounded-md grid md:grid-cols-2 px-10 sm:px-20 text-center md:text-left md:items-center bg-black100 text-light100;
    &-wrapper {
      @apply w-full bg-light200;
      > div {
        max-width: 1440px;
        @apply mx-auto md:py-24 px-7 lg:px-16 py-20;
      }
    }
    &-content {
      .title {
        @apply font-medium text-4xl mb-4;
      }
      .content {
        @apply text-base leading-5 pt-2 font-light;
      }
    }
    .buttons {
      @apply mx-auto md:mr-0 md:ml-auto flex flex-col gap-y-1.5;
    }
  }
}
